/***
    The new CSS reset - version 1.4.7 (last updated 27.1.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/*FONTS*/
@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf"),
    url("./assets/fonts/Poppins/Poppins-Light.ttf"),
    url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

/* VARIABLES */
:root {
  --background-color: 255, 255, 255;
  --background-color-2: 238, 246, 255;
  --font-color: 24, 23, 34;
  --accent-color: 25, 117, 210;
  --pattern-bg: 224, 237, 255;
  --font-size-1: 2.3rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.125rem;
  --border-radius: 0.375rem;

  font-family: Poppins, sans-serif;
  font-size: clamp(0.5rem, 2.5vmin, 1rem);
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1650px;
  padding-inline: 1rem;
  margin-inline: auto;
}

/*GLOBAL CSS */
.flex {
  display: flex !important;
  align-items: center;
}

.btn {
  display: inline-block;
  margin-block: 0.25em;
  border-radius: var(--border-radius);
  padding: 1em 1.5em;
  cursor: pointer;
  color: rgb(var(--background-color));
  user-select: none;
  background-color: rgb(var(--accent-color));
}

.btn:hover {
  background-color: rgba(var(--accent-color), 0.9) !important;
}

.link {
  font-size: 0.8rem;
  color: rgba(var(--font-color), 0.7);
  margin-top: 0.75rem;
  transition: text-decoration 200ms ease-in-out;
}

.link:hover {
  text-decoration: underline;
  color: rgba(var(--font-color), 1);
}

.link a {
  display: flex;
  gap: 2px;
}

.link img {
  display: inline-block;
  margin-block: auto;
  transition: transform ease-in-out 200ms;
  transform-origin: left bottom;
}

.link:hover img {
  transform: scale(1.1);
}

header {
  position: fixed;
  inset: 0 0 auto 0;
  background-color: rgb(var(--background-color));
  font-size: var(--font-size-4);
  z-index: 100;
}

header .container {
  justify-content: space-between;
}

header nav ul a {
  padding-block: 1.5rem;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: border-bottom 250ms ease-in-out;
  opacity: 0.7;
}

header nav ul a:hover {
  opacity: 1;
}

.brand h2 {
  margin-inline-start: max(calc(2rem - 20px), 4px);
}

header nav ul a + a {
  margin-inline-start: 1.5em;
}

header nav ul a:hover {
  border-bottom: 2px solid rgb(var(--font-color));
  color: rgba(var(--font-color), 1);
}

header nav ul img {
  width: max(1.25rem, 10px);
}

#Home {
  padding-inline: 2rem;
}

#Home {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
}

.features__text,
.content {
  flex-basis: 35%;
}

#Features h1,
.content h1 {
  font-weight: 600;
  font-size: var(--font-size-1);
}

.fadein {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.content p {
  font-size: var(--font-size-3);
  color: rgba(var(--font-color), 0.7);
  margin-block: 1.5em;
  max-width: 30ch;
}

.content .cta {
  box-shadow: 2px 3px 0 0 rgb(var(--font-color));
  transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms,
    box-shadow cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms,
    background-color cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms;
  font-weight: bold;
}

.content .cta:hover {
  transform: translate(-1px, -1px);
  box-shadow: 3px 4px 0 0 rgb(var(--font-color));
}

.content .cta:active {
  transform: translate(0, 0);
  box-shadow: 2px 3px 0 0 rgb(var(--font-color));
  background-color: rgb(var(--accent-color)) !important;
}

.preview {
  position: relative;
  user-select: none;
  perspective: 200px;
}

.features__media,
.preview {
  flex-basis: 65%;
}

.features__media {
  border: 1px solid red;
  justify-content: center;
}

.preview img,
.features__media img {
  border-radius: var(--border-radius);
}

.preview img {
  transition: transform 200ms ease-in-out;
  transform-origin: right center;
  width: 100%;
  box-shadow: 50px 90px 100px -100px rgb(var(--font-color), 0.25);
}

.pattern {
  position: absolute;
  inset: auto auto 0 0;
  transform: translate(-35%, 30%);
  z-index: -1;
  display: none;
  grid-template-columns: repeat(9, auto);
  gap: 1em;
  transition: gap ease-in-out 200ms, transform ease-in-out 300ms;
}

.preview:hover .pattern {
  gap: 0.85em;
  transform: translate(-38%, 33%);
}

.pattern > span {
  display: inline-block;
  width: 1rem;
  aspect-ratio: 1;
  background-color: rgb(var(--pattern-bg));
  border-radius: 50%;
}

#Features {
  height: 100vh;
}

.status_line {
  padding: 0.5rem;
}

.status_line__line {
  width: 2px;
  margin-top: 3.75rem;
  margin-right: 1em;
  background-color: rgb(var(--font-color));
  height: 11rem;
}

.features__content ul li {
  color: rgba(var(--font-color), 0.6);
  margin-block: 2em;
  transform-origin: left center;
}

.features__content ul li a {
  text-decoration: underline;
}

.light__img {
  display: none;
}

@media only screen and (min-width: 600px) {
  #Home {
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 945px) {
  #Home {
    flex-direction: row;
    justify-content: space-between;
    margin-top: unset;
    align-items: center;
  }
  .pattern {
    display: grid;
  }
  .content .cta:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 5px 0 0 rgb(var(--font-color));
  }
}
